---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import me from '@/images/me.jpeg';
---

<Layout title="Ash Johns | About">
  <h1>A little about <span class="text-gradient">me</span></h1>
  <div class="about">
    <div class="image">
      <Image src={me} alt="A picture of me" class="me" />
    </div>
    <p class="about-text">
      Hi! I'm Ash. I'm a Boston based Frontend Developer. My latest focus has been on building out design systems from
      the ground up. That includes everything from developing React components, to setting up CI/CD and everything
      in-between. These experiences have made me very good at writing reusable code with a great developer experience.
      Code that abides by frontend best practices and accessibility standards. I'm always looking to apply these skills
      in new ways, so don't hesitate to reach out!
    </p>
  </div>
</Layout>

<style define:vars={{ image: `url("${me.src}")` }}>
  .about {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgb(var(--background-subtle));

    & p {
      margin: 0;
      padding: 1.5rem;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .image {
    display: flex;
    align-self: stretch;
  }

  .me {
    display: block;
    box-sizing: border-box;
    min-width: 100px;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 7px 7px 0 0;
  }

  @media (min-width: 640px) {
    .about {
      grid-template-columns: 1fr 1fr;
    }

    .me {
      aspect-ratio: unset;
      border-radius: 7px 0 0 7px;
    }
  }

  @media (min-width: 768px) {
    .about {
      grid-template-columns: 1fr 2fr;
    }
  }

  @media (min-width: 1024px) {
    .about {
      border-radius: 50px 8px 8px 50px;
    }

    .image {
      position: relative;
      align-self: stretch;
    }

    .me {
      position: absolute;
      display: block;
      inset: 0;
      left: -25%;
      top: -5%;
      box-sizing: border-box;
      width: auto;
      height: 110%;
      aspect-ratio: 1/1;
      object-fit: cover;
      object-position: center;
      border: 8px solid rgb(var(--background));
      border-radius: 50%;
    }
  }
</style>
