---
import github from '@/images/socials/github.svg?raw';
import linkedin from '@/images/socials/linkedin.svg?raw';
---

<ul class="socials">
  <li>
    <a href="https://github.com/APJohns" aria-label="GitHub"><Fragment set:html={github} /></a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/ashley-p-johns" aria-label="LinkedIn"><Fragment set:html={linkedin} /></a>
  </li>
</ul>

<style>
  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    padding: 0;
    list-style: none;

    a {
      color: rgb(var(--foreground));

      &:hover {
        color: rgb(var(--accent));
      }
    }

    svg {
      height: 2.5rem;
    }
  }
</style>
