---
import Socials from '@/components/Socials.astro';
import social from '@/images/social.png';

interface Props {
  title: string;
  hasFooter?: boolean;
}

const { title, hasFooter = true } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
let activePath = pathname;
if (pathname.length > 1 && pathname.at(-1) === '/') {
  activePath = pathname.slice(0, -1);
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Hi! I'm Ash. Let's work together on something cool!" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="Ash Johns Portfolio" />
    <meta property="og:description" content="Hi! I'm Ash. Let's work together on something cool!" />
    <meta property="og:image" content={social.src} />
    <meta property="og:url" content="https://ashpjohns.com" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:site_name" content="Ash Johns" />
    <meta name="twitter:image:alt" content="Ash Johns" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://use.typekit.net/akb2jka.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <svg width="0" height="0">
      <filter id="blur-and-scale" x="-50%" y="-50%" width="200%" height="200%">
        <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blurred"></feGaussianBlur>
        <feColorMatrix type="saturate" in="blurred" values="4"></feColorMatrix>
        <feComposite in="SourceGraphic" operator="over"></feComposite>
      </filter>
    </svg>
    <header>
      <nav class="primary-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/" class={`nav-link${activePath === '/' ? ' active' : ''}`} data-astro-prefetch>Home</a>
          </li>
          <li class="nav-item">
            <a href="/about" class={`nav-link${activePath === '/about' ? ' active' : ''}`} data-astro-prefetch>About</a>
          </li>
          <li class="nav-item">
            <a href="/resume.pdf" class="nav-link" data-astro-prefetch>Resume</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class={`nav-link${activePath === '/contact' ? ' active' : ''}`} data-astro-prefetch
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    {
      hasFooter && (
        <footer class="footer">
          <Socials />
        </footer>
      )
    }
  </body>
</html>

<style is:global>
  :root {
    --accent: 255, 147, 47;
    --accent-dark: 255, 123, 0;
    --accent-light: 255, 184, 118;
    --accent-secondary: 13, 40, 76;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent-dark)), rgb(var(--accent-light)) 30%, white 60%);
    --dark: 4, 2, 8;

    --foreground: 241, 247, 255;
    --background: 19, 21, 26;
    --background-subtle: 35, 38, 45;

    --fs-body: 1.125rem;
    --fs-content: 1.25rem;
    --fs-subtle: 1rem;

    --font-body: 'Inter', sans-serif;
    --font-mono: 'DM Mono', monospace;
  }

  html {
    font-family: var(--font-body);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: rgb(var(--background));
    color: rgb(var(--foreground));
  }

  body {
    font-size: var(--fs-body);
  }

  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: rgb(var(--foreground));
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 800;
  }

  h1,
  p {
    line-height: 1.5;
  }

  a {
    color: #2f88ef;

    &:hover {
      color: rgb(var(--accent));
    }
  }

  .fill-cols {
    grid-column: 1/-1;
  }

  .blur {
    filter: url(#blur-and-scale);
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .primary-nav {
    text-align: center;
  }

  .nav-list {
    display: inline-flex;
    gap: 0;
    border-radius: calc(1rem + 4px);
    padding: 4px;
    list-style: none;
    background: rgb(var(--foreground));
  }

  .nav-link {
    display: block;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    color: rgb(var(--dark));
    text-decoration: none;
    font-size: var(--fs-subtle);

    &:not(.active):hover {
      color: rgb(var(--accent-secondary));
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: rgba(var(--accent-secondary));
    }

    &.active {
      color: rgb(var(--foreground));
      background: rgb(var(--accent-secondary));
    }
  }

  .link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: rgb(var(--background-subtle));
    background-image: none;
    background-size: 400%;
    border-radius: 8px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }

  .card-link {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    gap: 0.5rem;
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: var(--foreground);
    background-color: rgb(var(--background-subtle));
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);

    & .card-link {
      opacity: 0.9;
    }

    & h2 {
      color: rgb(var(--accent-light));
    }
  }

  .footer {
    margin: 2rem 0;
  }

  @media (min-width: 640px) {
    .card-link {
      gap: 1rem;
    }
    .nav-list {
      gap: 0.5rem;
    }
  }
</style>
