---
import Socials from '@/components/Socials.astro';

interface Props {
  title: string;
  hasFooter?: boolean;
}

const { title, hasFooter = true } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
let activePath = pathname;
if (pathname.length > 1 && pathname.at(-1) === '/') {
  activePath = pathname.slice(0, -1);
}
---

<script>
  function setClass(isDark: boolean) {
    if (isDark) {
      html?.classList.remove('theme-light');
      html?.classList.add('theme-dark');
    } else {
      html?.classList.remove('theme-dark');
      html?.classList.add('theme-light');
    }
  }

  const html = document.querySelector('html');
  const prefersDarkTheme = window.matchMedia('(prefers-color-scheme: dark)');
  const session = sessionStorage.getItem('isDark');
  let isDark = session ? session === 'true' : prefersDarkTheme.matches;

  const themeToggle: HTMLInputElement | null = document.querySelector('#themeToggle');
  if (themeToggle) {
    themeToggle.checked = isDark;
  }

  themeToggle?.addEventListener('click', () => {
    isDark = !isDark;
    sessionStorage.setItem('isDark', String(isDark));
    setClass(isDark);
  });
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="https://use.typekit.net/akb2jka.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      function setClass(isDark) {
        if (isDark) {
          html?.classList.remove('theme-light');
          html?.classList.add('theme-dark');
        } else {
          html?.classList.remove('theme-dark');
          html?.classList.add('theme-light');
        }
      }

      const html = document.querySelector('html');
      const prefersDarkTheme = window.matchMedia('(prefers-color-scheme: dark)');
      const session = sessionStorage.getItem('isDark');
      setClass(session ? session === 'true' : prefersDarkTheme.matches);
    </script>
  </head>
  <body>
    <svg width="0" height="0">
      <filter id="blur-and-scale" x="-50%" y="-50%" width="200%" height="200%">
        <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blurred"></feGaussianBlur>
        <feColorMatrix type="saturate" in="blurred" values="4"></feColorMatrix>
        <feComposite in="SourceGraphic" operator="over"></feComposite>
      </filter>
    </svg>
    <header>
      <nav class="primary-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="/" class={`nav-link${activePath === '/' ? ' active' : ''}`}>Home</a>
          </li>
          <li class="nav-item">
            <a href="/about" class={`nav-link${activePath === '/about' ? ' active' : ''}`}>About</a>
          </li>
          <li class="nav-item">
            <a href="/resume.pdf" class="nav-link">Resume</a>
          </li>
          <li class="nav-item">
            <a href="/contact" class={`nav-link${activePath === '/contact' ? ' active' : ''}`}>Contact</a>
          </li>
        </ul>
      </nav>
      <div class="switch">
        <input id="themeToggle" type="checkbox" />
        <label id="themeToggleLabel" aria-label="Dark mode" for="themeToggle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M12 2.25a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM7.5 12a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM18.894 6.166a.75.75 0 0 0-1.06-1.06l-1.591 1.59a.75.75 0 1 0 1.06 1.061l1.591-1.59ZM21.75 12a.75.75 0 0 1-.75.75h-2.25a.75.75 0 0 1 0-1.5H21a.75.75 0 0 1 .75.75ZM17.834 18.894a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 1 0-1.061 1.06l1.59 1.591ZM12 18a.75.75 0 0 1 .75.75V21a.75.75 0 0 1-1.5 0v-2.25A.75.75 0 0 1 12 18ZM7.758 17.303a.75.75 0 0 0-1.061-1.06l-1.591 1.59a.75.75 0 0 0 1.06 1.061l1.591-1.59ZM6 12a.75.75 0 0 1-.75.75H3a.75.75 0 0 1 0-1.5h2.25A.75.75 0 0 1 6 12ZM6.697 7.757a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 0 0-1.061 1.06l1.59 1.591Z"
            ></path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M9.528 1.718a.75.75 0 0 1 .162.819A8.97 8.97 0 0 0 9 6a9 9 0 0 0 9 9 8.97 8.97 0 0 0 3.463-.69.75.75 0 0 1 .981.98 10.503 10.503 0 0 1-9.694 6.46c-5.799 0-10.5-4.7-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 0 1 .818.162Z"
              clip-rule="evenodd"></path>
          </svg>
        </label>
      </div>
    </header>
    <main>
      <slot />
    </main>
    {
      hasFooter && (
        <footer>
          <Socials />
        </footer>
      )
    }
  </body>
</html>

<style is:global lang="scss">
  @mixin theme-dark() {
    --accent: 255, 147, 47;
    --accent-dark: 255, 123, 0;
    --accent-light: 255, 184, 118;
    --accent-secondary: 13, 40, 76;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent-dark)), rgb(var(--accent-light)) 30%, white 60%);
    --dark: 4, 2, 8;

    --foreground: 241, 247, 255;
    --background: 19, 21, 26;
    --background-subtle: 35, 38, 45;
  }

  @mixin theme-light() {
    --accent: 255, 147, 47;
    --accent-dark: 255, 123, 0;
    --accent-light: 255, 184, 118;
    --accent-secondary: 117, 165, 228;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent-dark)), rgb(var(--accent-light)) 30%, white 60%);
    --dark: 4, 2, 8;

    --foreground: 19, 21, 26;
    --background: 244, 244, 244;
    --background-subtle: 200, 200, 200;
  }

  :root {
    --fs-body: 1.125rem;
    --fs-content: 1.25rem;
    --fs-subtle: 1rem;

    --font-body: 'Inter', sans-serif;
    --font-mono: 'DM Mono', monospace;
  }

  /* @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  } */

  html {
    @include theme-light();
  }

  html.theme-dark {
    @include theme-dark();
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
      @include theme-dark();
    }

    html.theme-light {
      @include theme-light();
    }
  }

  /* @font-face {
    font-family: 'Inter';
    src:
      url('Inter-VariableFont_opsz,wght.ttf') format('ttf supports variations'),
      url('Inter-VariableFont_opsz,wght.ttf') format('ttf-variations');
    font-weight: 100 900;
  }*/

  /* @font-face {
    font-family: 'Inconsolata';
    src:
      url('Inconsolata-VariableFont_wdth,wght.ttf') format('ttf supports variations'),
      url('Inconsolata-VariableFont_wdth,wght.ttf') format('ttf-variations');
    font-weight: 200 900;
  } */

  /* @font-face {
    font-family: 'Red Hat';
    src:
      url('RedHatDisplay-VariableFont_wght.ttf') format('ttf supports variations'),
      url('RedHatDisplay-VariableFont_wght.ttf') format('ttf-variations');
    font-weight: 300 900;
  } */

  html {
    font-family: var(--font-body);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: rgb(var(--background));
    color: rgb(var(--foreground));
  }

  body {
    font-size: var(--fs-body);
  }

  header {
    display: grid;
    grid-template-columns: 10ch 1fr 10ch;
    align-items: center;
  }

  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: rgb(var(--foreground));
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 800;
  }

  h1,
  p {
    line-height: 1.5;
  }

  a {
    color: #2f88ef;

    &:hover {
      color: rgb(var(--accent));
    }
  }

  .blur {
    filter: url(#blur-and-scale);
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .primary-nav {
    text-align: center;
    grid-column: 2;
  }

  .nav-list {
    display: inline-flex;
    gap: 0;
    border-radius: calc(1rem + 4px);
    padding: 4px;
    list-style: none;
    background: rgb(var(--foreground));
  }

  .nav-link {
    display: block;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    color: rgb(var(--background));
    text-decoration: none;
    font-size: var(--fs-subtle);

    &:not(.active):hover {
      color: rgb(var(--accent-secondary));
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-decoration-color: rgba(var(--accent-secondary));
    }

    &.active {
      color: rgb(var(--foreground));
      background: rgb(var(--accent-secondary));
    }
  }

  .switch {
    input[type='checkbox'] {
      position: absolute;
      clip: rect(0, 0, 0, 0);
      pointer-events: none;

      &:checked + label::before {
        transform: translateX(100%);
      }

      &:focus + label {
        outline: 2px solid #2f88ef;
      }
    }

    label {
      display: flex;
      justify-content: space-between;
      position: relative;
      border-radius: 20px;
      padding: 0 2px;
      width: 36px;
      height: 20px;
      color: rgb(var(--foreground));
      background: rgb(var(--foreground));
      border: 1px solid rgb(var(--foreground));
      cursor: pointer;

      svg {
        width: 15px;
        z-index: 100;
      }
    }

    label::before {
      content: '';
      position: absolute;
      left: 0;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: rgb(var(--background));
      transition: 0.05s ease-out;
    }
  }

  .link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: rgb(var(--background-subtle));
    background-image: none;
    background-size: 400%;
    border-radius: 8px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }

  .card-link {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    gap: 0.5rem;
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: var(--foreground);
    background-color: rgb(var(--background-subtle));
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);

    & .card-link {
      opacity: 0.9;
    }

    & h2 {
      color: rgb(var(--accent-light));
    }
  }

  @media (min-width: 640px) {
    .card-link {
      gap: 1rem;
    }
    .nav-list {
      gap: 0.5rem;
    }
  }
</style>
